@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.animate-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.hover-translate {
  transition: transform 0.3s ease-in-out;
}

.hover-translate:hover {
  transform: translateY(-8px);
}

.hover-element {
  cursor: pointer;
  transition: transform 0.3s, all 0.3s;
}

.hover-element:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.transition-max-height {
  transition-duration: 0.15s;
  transition-property: max-height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes gentle-float {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(12px);
  }
  60% {
    transform: translateY(-14px);
  }
  80% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-element {
  animation: gentle-float 5s linear infinite;
}